.select-btn {
    width: 100%;

}
.container{
    min-height: 700px;
}
.set-align{
    align-items: left;
}
.select-btn:hover {
    transform: scale(1.2);
}
.wait-spinner { 
   
    position: absolute;
    top: 50%;
    left: 50%;
  
}
.select-thesis {
    margin: 5;
    align-items: center;
    
    position: relative;
    z-index: 98;
}
tr:hover{
    background-color: rgb(221, 221, 221);
}
.container-report{
    margin: 1%;
    border-color: #02bd11;
    padding: 1%;
    border-radius: 2% 2% 2% 2%;
    box-shadow: 0px 1px 3px rgb(121, 121, 121);
}
.select-thesis:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgb(121, 121, 121);
}
.auth-btn {
    background-color: #fefefe;
    color: gray;
    text-align: center;
}
.auth-out-btn {
    background-color: #fefefe;
    color: gray;
    border: 0;
    font-size: 32px;
}
.auth-btn:hover {
    color: #02bd11;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}
.auth-out-btn:hover {
    color: #ffffff;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}
.circle{
    border: 0;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
}

.zoom:hover{
    transform: scale(3);
    transition: all 0.1s ease-out;
    margin: 100px;
    position: fixed; /* or absolute */
   
}
.report-button{
    position: absolute;
    z-index: 999;
}
