.select-btn {
    width: 150px;
}

.select-btn:hover {
    transform: scale(1.5);
}
.select-thesis {
    margin: 5;
    align-items: center;
}

.select-thesis:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 10px rgb(121, 121, 121);
}
.auth-btn {
    background-color: #fefefe;
    color: gray;
    border: 0;
}

.auth-btn:hover {
    color: #02bd11;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}
.circle{
    border: 0;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
}

